doctype
html(lang="zh-CN")
    head
     include head
    body
        .header
            include header
        .line60
        .blank
        #main
            block content
            include footer

        script(src=url_for("js/xy-nest.js"))
        script.
            if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
                (function(){
                    window.scrollReveal = new scrollReveal({reset: true});
                })();
            }