include aboutme

if site.posts.length
    .block.archives
        h2.ar_title 标签
        - var c = list_tags({show_count:theme.arch_config.show_count,transform:function(name){return '<i class="fa" aria-hidden="true">'+name+'</i>';}})
        .content!= c