#banner{
    margin: 0 auto;
    width: 60%;
    height: 100%;

    .head{
        display: inline-block;
        width:11vh;
        height:11vh;
        min-width: 60px;
        min-height: 60px;
        border-radius: 50%;
    }

    #slider{
        display: inline-block;
        margin-left: 16vw;
        overflow:hidden;
    }

    #slider li{
        display: inline-block;
        float: left;
        width: 5vw;
        height: 5vh;
        min-height: 30px;
        line-height: 5vh;
        text-align: center;
        cursor pointer;

        a{
            color: black;
            display: inline-block;
            width: 5vw;
            height: 5vh;
            text-decoration-line: none;
        }
    }
    #slider li:hover{
        background-color:rgba(255,25,255,0.9);
        transform: scale(1.5);
    }
}